.weather {
    position: absolute;
    padding: 40px;
    border-radius: 10px;
    margin-left: auto; /* Garante que o elemento vai para a direita */
  }
 


.search-bar{
  display: flex;
  align-items: center;
  gap: 12px;
}

.search-bar input{
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 25px;
  color: #626262;
  background: #ebfffc;
  font-size: 18px;
}

