.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1e1e1e; /* Fundo escuro para destacar o mapa */
}

.map-container {
  width: 65%;
  height: 90vh;
}

.info-panel {
  width: 30%;
  padding: 20px;
  background-color: #007bff; /* Azul */
  color: white;
  margin-left: 20px; /* Ajuste para ficar mais próximo do mapa */
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.info-panel h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
}

.info-panel p {
  font-size: 16px;
  margin: 5px 0;
}

.info-box {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}
